@value variables: "../../theme.css";
@value textMd, textSm, grayRegular, grayLight, blueDark, blueRegular, blueDeep, redRegular, greenRegular, orangeRegular,w300,w400,w600,w700,w800,w900 from variables;

input,
select,
textarea,
button {
  appearance: none;
  outline: none;
  border: 0;
  background-color: transparent;
}

.group {
  margin-bottom: 2.2rem;
}

.group,
.field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.field {
  background-color: #ffffff;
}

select,
button,
input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  height: 4.4rem;
  font-size: textSm;
}

.fieldIcon > svg {
  max-width: none;
  width: 16px;
  height: 16px;
}

.passwordIndicatorText {
  color: #222;
  font-weight: w600;
  position: absolute;
  margin-right: 1rem;
  right: 4.4rem;
  bottom: 50%;
  transform: translateY(50%);
}

.label {
  color: blueDark;
  margin-bottom: 0.8rem;
  font-size: textMd;
  font-weight: w700;
  text-transform: capitalize;
}

.link {
  margin-left: auto;
  color: grayRegular;
  text-decoration: none;
  font-size: textSm;
  position: absolute;
  top: 0;
  right: 0;
}

.input {
  border: 1px solid grayLight;
  color: blueDark;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input::placeholder {
  color: grayRegular;
}

input::-webkit-calendar-picker-indicator,
.fieldIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 4.4rem;
  bottom: 0;
  background-color: transparent;
  color: grayRegular;
  border-left: 1px solid grayLight;
  outline: 0;
  padding: 1.4rem;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 100%;
  background-size: 16px 16px;
  background-position: center;
  background-image: url('./assets/calendar.svg');
}

.select {
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
}

.fieldBtn {
  cursor: pointer;
  color: blueDark;
}

.formActions {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.formActions > button:nth-child(n + 2) {
  margin-left: 2rem;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: blueRegular;
  border: 1px solid blueRegular;
  font-size: textMd;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}

.help {
  font-size: textSm;
  margin-top: 0.5rem;
  color: blueDeep;
  font-weight: w600;
}
.error .help {
  color: redRegular;
}
.success .help {
  color: greenRegular;
}

/* States */
.error .input {
  border-color: redRegular;
}

.success .input {
  border-color: greenRegular;
}

.input:focus,
.success .input:focus,
.error .input:focus {
  border-color: blueRegular;
  box-shadow: 0 0 0 0.15rem rgba(76, 143, 233, 0.5);
}

.disabled,
.disabled .input {
  cursor: not-allowed;
}
.disabled .input {
  border-color: grayLight;
}
.disabled .help {
  display: none;
}
.group.disabled {
  opacity: 0.5;
}
.submit.disabled {
  background-color: grayLight;
  border-color: grayRegular;
}
.submit:hover {
  background-color: blueDeep;
}

.submit:focus {
  background-color: blueDeep;
  box-shadow: 0 0 0 0.15rem rgba(76, 143, 233, 0.5);
}
